<a href="https://colab.research.google.com/github/srkumar/my_repo/blob/main/07_Numpy01_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy-I Notes

## Content

- **Installing and Importing Numpy**

- **Introduction to use case**

- **Motivation: Why to use Numpy? - How is it different from Python Lists?**


- **Creating a Basic Numpy Array**
    - From a List - `array()`, `shape`, `ndim`
    - From a range and stepsize - `arange()`
    - From a range and count of elements - `linspace()`
    - `type()` ndarray


- **How numpy works under the hood?**

    
- **2-D arrays (Matrices)**
    - `reshape()`
    - `resize()`
    - Transpose
    - Converting Matrix back to Vector - `flatten()`


- **Creating some special arrays using Numpy**
    - `zeros()`
    - `ones()`
    - `diag()`
    - `identity()`


- **Indexing and Slicing**
    - Indexing
    - Slicing
    - Masking (Fancy Indexing)

### Installation Using `%pip`

In [ ]:
!pip install numpy

Collecting nump
  Downloading nump-0.1.tar.gz (604 bytes)
Building wheels for collected packages: nump
  Building wheel for nump (setup.py) ... done
  Created wheel for nump: filename=nump-0.1-py3-none-any.whl size=1102 sha256=86586a69ac816d43a148f2a43018810844f9b960d80ed7232c8ccd664a0efca3
  Stored in directory: /Users/anantm/Library/Caches/pip/wheels/6e/86/8d/2383b5736f005d5b8e551d027e2195a700e66759ccac050078
Successfully built nump
Installing collected packages: nump
Successfully installed nump-0.1

### Importing Numpy

In [ ]:
import numpy as np

### Use case Introduction: Fitbit


![image.png]()


#### Every row is called a record or data point and every column is a feature

#### What kind of questions can we answer using this data?


- How many records and features are there in the dataset?
- What is the **average step count**?
- On which day the **step count was highest/lowest?**
- What's the **most frequent mood**?

We will try finding
- How daily activity affects mood?

### Why use Numpy?

In [ ]:
a = [1,2,3,4,5]

In [ ]:
a = [i**2 for i in a]
print(a)

[1, 16, 81, 256, 625]

#### Same operation using NumPy

In [ ]:
a = np.array([1,2,3,4,5])
print(a**2)

[ 1  4  9 16 25]

#### But is the clean syntax and ease in writing the only benefit we are getting here?

In [ ]:
l = range(1000000)

In [ ]:
%timeit [i**2 for i in l]

241 ms  2.58 ms per loop (mean  std. dev. of 7 runs, 1 loop each)

In [ ]:
l = np.arange(1000000)

In [ ]:
%timeit l**2

331 s  2.7 s per loop (mean  std. dev. of 7 runs, 1000 loops each)


#### Takeaway ?  

- NumPy provides clean syntax for providing element-wise operations
- Per loop time for numpy to perform operation is much lesser than list



### Basic arrays in NumPy

#### `array()`

In [ ]:
# Let's create a 1-D array
arr1 = np.array([1, 2, 3])
print(arr1)
print(arr1 * 2)

[1 2 3]
[2 4 6]

#### What will be the dimension of this array?

In [ ]:
arr1.ndim

1

#### Shape of array

In [ ]:
arr1.shape

(3,)

### Sequences in  Numpy

### From a range and stepsize - `arange()`
- `arange(start, end, step)`

In [ ]:
arr2 = np.arange(1, 5)
arr2

array([1, 2, 3, 4])

In [ ]:
arr2_stepsize = np.arange(1, 5, 2)
arr2_stepsize

array([1, 3])

- In `np.arange()`, we can pass a **floating point number** as **step-size**

In [ ]:
arr3 = np.arange(1, 5, 0.5)
arr3

array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

### What if we want to generate equally spaced points?
=> `linspace()`

In [ ]:
np.linspace(0, 10, 11)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])



Note: The `end` value is included in the array.

In [ ]:
start, end, flag_count = 0, 100, 25
np.linspace(start, end, flag_count)

array([  0.        ,   4.16666667,   8.33333333,  12.5       ,
        16.66666667,  20.83333333,  25.        ,  29.16666667,
        33.33333333,  37.5       ,  41.66666667,  45.83333333,
        50.        ,  54.16666667,  58.33333333,  62.5       ,
        66.66666667,  70.83333333,  75.        ,  79.16666667,
        83.33333333,  87.5       ,  91.66666667,  95.83333333,
       100.        ])


####  Type of Numpy array

In [ ]:
type(arr1)

numpy.ndarray


### How numpy works under the hood?


#### Numpy is written in C which allows it to **manage memory very efficiently**

<img src="https://drive.google.com/uc?export=view&id=1dWLBqmxzlstKcpok2aYs0xi-61UF9bmO" width="300"/>

- In **Python List**, we can **store objects of different types together** - int, float, string, etc.
- The **actual values** of objects are **stored somewhere else in the memory**
- Only **References to those objects** (R1, R2, R3, ...) are stored in the Python List.

- So, when we have to access an element in Python List, we **first access the reference** to that element and then that **reference allows us to access the value** of element stored in memory

#### C array does all this in one step

- **C array stores objects of same data type together**

- **Actual values** are **stored in same contiguous memory**

- So, when we have to access an element in C array, we **access it directly using indices**.

#### This makes NumPy array lose the flexibility to store heterogenous data

==> Unlike Python lists, NumPy array can only hold contigous data

- So numpy arrays are **NOT** really **Python lists**
- They are basically **C arrays**

### C type behaviour of Numpy

In [ ]:
arr4 = np.array([1, 2, 3, 4])
arr4

array([1, 2, 3, 4])

In [ ]:
arr4 = np.array([1, 2, 3, 4.0])
arr4

array([1., 2., 3., 4.])

- Because **one single C array** can store values of **only one data type** i.e. homogenous data

- We can specify the datatype of array at time of initialization using `dtype` parameter
   
    - ** by default set to `None`**

In [ ]:
arr5 = np.array([1, 2, 3, 4])
arr5

array([1, 2, 3, 4])

In [ ]:
arr5 = np.array([1, 2, 3, 4], dtype="float")
arr5

array([1., 2., 3., 4.])

#### Another way np array behaves like C arrays and not Python lists

- In Python lists, number values can be **arbitrarily large or small**
- There's **usually no overflow of number values**


#### However, in C, C++ and Java, there's overflow of values

- As soon as a **number crosses the max possible** value for a data-type,the number gets **wrapped around to a smaller value**

In [ ]:
100**10 # no overflow

100000000000000000000

In [ ]:
arr6 = np.array([0, 10, 100])
arr6 ** 10 # 100^10 will overflow

array([                  0,         10000000000, 7766279631452241920])

## Working with 2-D arrays (Matrices)

In [ ]:
m1 = np.array([[1,2,3],[4,5,6]])
m1
# Nicely printing out in a Matrix form

array([[1, 2, 3],
       [4, 5, 6]])

**Shape of a numpy array?**

In [ ]:
m1.shape # arr1 has 3 elements

(2, 3)

#### What is the type of this result of `arr1.shape`? Which data structure is this?
Tuple

#### Now, What is the dimension of this array?

In [ ]:
m1.ndim

2

### How can we create high dimensional arrays using `reshape()` ?

In [ ]:
m2 = np.arange(1, 13)
m2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])


#### Can we make `m2` a $4\times4$ array?

In [ ]:
m2 = np.arange(1, 13)
m2.reshape(4, 4)

ValueError: cannot reshape array of size 12 into shape (4,4)

#### So, What are the ways in which we can reshape it?

- $4\times3$
- $3\times4$
- $6\times2$
- $2\times6$
- $1\times12$
- $12\times1$

In [ ]:
m2 = np.arange(1, 13)
m2.reshape(4, 3)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [ ]:
m2 = np.arange(1, 13)
m2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [ ]:
m2.shape

(12,)

In [ ]:
m2.reshape(12, 1)

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12]])


- **`(12,)`** means its a **1D array**
- **`(12, 1)`** means its a **2D array** with 12 rows and 1 column

### Resize

In [ ]:
a = np.arange(4)
a.resize((2,4))
a

array([[0, 1, 2, 3],
       [0, 0, 0, 0]])

####  difference between resize and reshape?

The difference is that it'll add extra zeros to it if shape exceeds number of elements. However, there is a catch: it'll throw an error if array is referenced somewhere and you try resizing it

In [ ]:
b = a
a.resize((10,))

ValueError: ignored

### Transpose

- **Change rows into columns and columns into rows**

In [ ]:
a = np.arange(3)
a

array([0, 1, 2])

In [ ]:
a.T

array([0, 1, 2])

#### Why did Transpose did not work?

- **numpy sees `a` as a vector (3,), NOT a matrix**.

In [ ]:
a = np.arange(3).reshape(1, 3) #reshape vector to a matrix
a
# Now a has dimensions (1, 3) instead of just (3,)
# It has 1 row and 3 columns

array([[0, 1, 2]])

In [ ]:
a.T
# It has 3 rows and 1 column

array([[0],
       [1],
       [2]])

### Flattening of an array

In [ ]:
A = np.arange(12).reshape(3, 4)
A

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
A.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

#### convert a matrix to 1D array using `reshape()`
#### What should I pass in `A.reshape()` if I want to use it to convert `A` to 1D vector?

- **(1, 1)?**

In [ ]:
A.reshape(1, 1)

ValueError: ignored

- So, **(1, 12)?**

In [ ]:
A.reshape(1, 12)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]])

- We need a vector of dimension (12,). So, we need to pass only 1 dimension.

In [ ]:
A.reshape(12)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

#### What will happen if we pass a negative integer in `reshape()`?

In [ ]:
A.reshape(6, -1)

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11]])

- Since **no. of elements in our matrix is 12** and **we passed 6 as no. of rows**, it is **able to figure out** that **no. of columns should be 2**

In [ ]:
A.reshape(-1, 6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11]])

## Special arrays using Numpy

####  numpy array with all zeros

In [ ]:
np.zeros(3)
# Pass in how many values you need in array
# All values will be zeroes

array([0., 0., 0.])

In [ ]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

#### numpy array with all ones

In [ ]:
# Just like np.zeroes, but initialize all values to 1
np.ones(3)

array([1., 1., 1.])

In [ ]:
# 2D
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

#### Now, do we need `np.twos()`, `np.threes()`, `np.fours()`, .... `np.hundreds()`?

- We can just create array using `np.ones()` and multiply with required value

In [ ]:
np.ones((2, 3)) * 5

array([[5., 5., 5.],
       [5., 5., 5.]])

Default **Datatype** of special arrays

In [ ]:
a = np.zeros((2,2))
a

array([[0., 0.],
       [0., 0.]])

In [ ]:
a.dtype

dtype('float64')

#### Diagional matrices

In [ ]:
np.diag([1, 2, 3])
# We pass values for diagonal elements as a list
# All other elements are zero

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

#### Identity matrix

**square matrix** where **all diagonal values are 1** and **All non-diagonal values are 0**

In [ ]:
np.identity(3)
# Pass in the single dimension of required square identity matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Indexing and Slicing upon Numpy arrays

In [ ]:
m1 = np.arange(12)
m1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

### Indexing in np arrays

In [ ]:
m1[0] # gives first element of array

0

In [ ]:
m1[12] # out of index Error

IndexError: index 12 is out of bounds for axis 0 with size 12

In [ ]:
m1 = np.arange(1,10).reshape((3,3))

In [ ]:
m1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
m1[1][2]

6

In [ ]:
m1[1, 2] #m1[row, column] (another way of indexing - using comma)

6

####  list of indexes in numpy

In [ ]:
m1 = np.array([100,200,300,400,500,600])

In [ ]:
m1[[2,3,4,1,2,2]]

array([300, 400, 500, 200, 300, 300])

#### List of indexes in 2D array

In [ ]:
import numpy as np

In [ ]:
m1 = np.arange(9).reshape((3,3))

In [ ]:
m1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
m1[[0,1,2],[0,1,2]] # picking up element (0,0), (1,1) and (2,2)

array([0, 4, 8])

### Slicing

In [ ]:
m1 = np.arange(12)
m1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [ ]:
m1[:5]

array([0, 1, 2, 3, 4])

#### Can we just get this much of our array `m1`?
```
[[5, 6],
 [9, 10]]
```

#### Remember our `m1` is:
```
m1 = [[0, 1, 2, 3],
      [4, 5, 6, 7],
      [8, 9, 10, 11]]
```

In [ ]:
m1 = np.arange(12).reshape(3,4)

In [ ]:
# First get rows 1 to all
# Then get columns 1 to 3 (not included)
m1[1:, 1:3]

array([[ 5,  6],
       [ 9, 10]])

#### What if I want this much part?
```
[[2, 3],
 [6, 7],
 [10,11]]
```

In [ ]:
# First get all rows
# Then get columns 2 to all

m1[:, 2:]

array([[ 2,  3],
       [ 6,  7],
       [10, 11]])

#### What if I need 1st and 3rd column?
`
[[1, 3],
 [5, 7],
 [9,11]]
`

In [ ]:
# Get all rows
# Then get columns from 1 to all with step of 2

m1[:, 1::2]

array([[ 1,  3],
       [ 5,  7],
       [ 9, 11]])

In [ ]:
# Get all rows
# Then get columns 1 and 3

m1[:, (1,3)] #can also pass indices of required columns as a tuple to get the sam result

array([[ 1,  3],
       [ 5,  7],
       [ 9, 11]])

### Fancy indexing (Masking)

- Numpy arrays can be indexed with boolean arrays (masks).
- It creates copies not views.

In [ ]:
m1 = np.arange(12).reshape(3, 4)
m1 < 6

array([[ True,  True,  True,  True],
       [ True,  True, False, False],
       [False, False, False, False]])

In [ ]:
m1[m1 < 6]
# Value corresponding to True is retained
# Value corresponding to False is filtered out

array([0, 1, 2, 3, 4, 5])

In [ ]:
m1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
m1[m1%2 == 0]

array([ 0,  2,  4,  6,  8, 10])

#### **Takeaway?**

Matrix gets converted into a 1D array after masking because the filtering operation **implicitly converts high-dimensional array into 1D array** as it **cannot retain its $3\times4$ with lesser number of elements**

#### Multiple filter conditions

In [ ]:
a = np.arange(11)

In [ ]:
a[(a %2 == 0) | (a%5 == 0)] # filter elements which are multiple of 2 or 3

array([ 0,  2,  4,  5,  6,  8, 10])